.Kotak {
    background: white;
    border-radius: 0px;
    height: 650px;
    margin: 1rem auto 8.1rem auto;
    width: 340px;
  }
  
  .Header {
    display: flex;
    padding: 5px; 
    gap: 10px; /* Memberikan jarak 10px antara gambar 1 & 2 dan gambar 2 & teks */
  }
  
  .Header img {
    display: block; /* Menghilangkan spasi bawah pada elemen inline seperti gambar */
  }
  
  #kembaliButton {
    cursor: pointer;
    text-decoration: none;
  }
  
  #kembaliButton img {
    width: 17.86px;
    height: 28.31px;
    margin-right: 10px; 
  }

  .box {
    margin-top: 75px;
    margin-left: 15%;
    background-color: rgba(65, 215, 236, 1);
    width: 79%;
    height: 58%;
  }

  .Objek img {
    margin-top: 25px;
    margin-left: 5%;
  }

  .Next {
    font-family: 'NamaFontGujarati', sans-serif;
    margin-top: 20px;
    text-align: center;
  }

  .Next button a {
    text-decoration: none;
    color: black;
  }
  
  .Next button {
    background-color: white; 
    color: black; 
    width: 218px;
    height: 51px;
    font-size: 25px;
    line-height: 5px; 
    border: 1px solid black;
    border-radius: 20px; /* Menambahkan border radius untuk sudut tombol */
    cursor: pointer;
    margin-bottom: 10px;
  }